In [5]:
import pandas as pd
import numpy as np
import timeit

In [6]:
df = pd.read_csv('PCAclustering.csv')

In [7]:
df.head(1)

,Unnamed: 0,name,id,artists,genres,year,0,1,2,3,4,5,cluster_no,sub_cluster
0,0,kapitel 10 - in der osternacht anton tschechow,2bB8AoMI30VKEnF2sVKxrg,Anton Tschechow,['german literature'],1953.0,-1.837902,3.678128,3.230907,0.075933,0.284615,4.769228,2.0,0.0

In [8]:
df['year'] = (df['year']-1920)/100

In [9]:
df =df.drop(["Unnamed: 0"],axis=1)
df.head(1)

,name,id,artists,genres,year,0,1,2,3,4,5,cluster_no,sub_cluster
0,kapitel 10 - in der osternacht anton tschechow,2bB8AoMI30VKEnF2sVKxrg,Anton Tschechow,['german literature'],0.33,-1.837902,3.678128,3.230907,0.075933,0.284615,4.769228,2.0,0.0

In [12]:
from sklearn.neighbors import NearestNeighbors
knn_params = {'n_neighbors':range(1,10)}
knn = NearestNeighbors(n_jobs=-1,algorithm = 'auto', n_neighbors=11)
song = input("Enter Song Name: ")
song = song.lower()
q = df.index[df['name']==song]
qind= q[0]
print(df.iloc[qind]['name'])
clust = df.iloc[qind]
#isolating the rows belonging to the same cluster and sub cluster
x = [clust['cluster_no'],clust['sub_cluster']]
newdf = df[df['cluster_no']==x[0]]
newdf = newdf[newdf['sub_cluster']==x[1]]
newdf =newdf.reset_index()
print(newdf.shape)
#finding query index for the song in the new isolated dataset
q = newdf.index[newdf['name']==song]
query_index = q[0]
X_wnames = np.array(newdf['name'])
X = np.array(newdf.drop(['id','name','artists','genres'], axis = 1))
print(query_index)
start = timeit.default_timer()
knn.fit(X)
X_df = pd.DataFrame(X)
query_index= q[0]
distances, indices = knn.kneighbors(X_df.iloc[query_index,:].values.reshape(1,-1), n_neighbors =11)
stop = timeit.default_timer()
for i in range(0,len(distances.flatten())):
    if i==0:
        print("Recommendations for {0}:\n".format(X_wnames[query_index]))
    else:
        print('{1}, with distance of {2}'.format(i, X_wnames[indices.flatten()[i]], distances.flatten()[i]))
print('Time: ', stop - start)

Enter Song Name: She dodie
she dodie
(11144, 14)
10902
Recommendations for she dodie:

turning page sleeping at last, with distance of 1.7488691927001956
tepid rainscape fizzonaut, with distance of 16.49894993267849
ocean lady a, with distance of 26.055785063803505
desperado - 2013 remaster eagles, with distance of 52.05262305433539
don't let me down - remastered 2009 the beatles, with distance of 61.04279004731617
stairway to heaven - 1990 remaster led zeppelin, with distance of 70.02558454004905
no matter what calum scott, with distance of 71.05466358713613
dreamland glass animals, with distance of 77.04798178986316
golden thing cody simpson, with distance of 113.0029704223
the greatest lana del rey, with distance of 120.00217593468841
Time:  0.3536331999999902