In [1]:
import pandas as pd
import numpy as np
import timeit

In [2]:
df = pd.read_csv('PCAclustering2.csv')

In [3]:
df.head(1)

,Unnamed: 0,name,id,artists,genres,year,0,1,2,3,4,5,cluster_no,sub_cluster
0,0,singende bataillone 1. teil carl woitschach,6KbQ3uYMLKb5jDxLF7wYDD,Carl Woitschach,[],1928,-1.54146,1.561465,-1.091242,-0.244909,1.274373,1.348374,0.0,3.0

In [4]:
df['year'] = (df['year']-1920)/100

In [5]:
df =df.drop(["Unnamed: 0"],axis=1)
df.head(1)

,name,id,artists,genres,year,0,1,2,3,4,5,cluster_no,sub_cluster
0,singende bataillone 1. teil carl woitschach,6KbQ3uYMLKb5jDxLF7wYDD,Carl Woitschach,[],0.08,-1.54146,1.561465,-1.091242,-0.244909,1.274373,1.348374,0.0,3.0

In [7]:
from sklearn.neighbors import NearestNeighbors
knn_params = {'n_neighbors':range(1,10)}
knn = NearestNeighbors(n_jobs=-1,algorithm = 'auto', n_neighbors=11)
song = input("Enter Song Name: ")
song = song.lower()
q = df.index[df['name']==song]
qind= q[0]
print(df.iloc[qind]['name'])
clust = df.iloc[qind]
#isolating the rows belonging to the same cluster and sub cluster
x = [clust['cluster_no'],clust['sub_cluster']]
newdf = df[df['cluster_no']==x[0]]
newdf = newdf[newdf['sub_cluster']==x[1]]
newdf =newdf.reset_index()
print(newdf.shape)
#finding query index for the song in the new isolated dataset
q = newdf.index[newdf['name']==song]
query_index = q[0]
X_wnames = np.array(newdf['name'])
X = np.array(newdf.drop(['id','name','artists','genres'], axis = 1))
print(query_index)
start = timeit.default_timer()
knn.fit(X)
X_df = pd.DataFrame(X)
query_index= q[0]
distances, indices = knn.kneighbors(X_df.iloc[query_index,:].values.reshape(1,-1), n_neighbors =11)
stop = timeit.default_timer()
for i in range(0,len(distances.flatten())):
    if i==0:
        print("Recommendations for {0}:\n".format(X_wnames[query_index]))
    else:
        print('{1}'.format(i, X_wnames[indices.flatten()[i]]))
print('Time: ', stop - start)

Enter Song Name: she dodie
she dodie
(6608, 14)
6275
Recommendations for she dodie:

leray trippie redd
wondering - from "high school musical: the musical: the series" olivia rodrigo & julia lester
tepid rainscape fizzonaut
ocean lady a
i guess i just feel like john mayer
heading south zach bryan
deep summer walker
san luis gregory alan isakov
consequences - orchestra camila cabello
alone, part 3 xxxtentacion
Time:  0.2154211999995823